<% layouts = Dir.entries(Rails.root.join("app", "views", "layouts")).keep_if { |i| i =~ /.html.erb$/ }.each{|i| i.slice! ".html.erb"} %>

<%= semantic_form_for [:admin, resource] do |f| %>
  <%= f.inputs "Основное" do %>
    <%= f.input :position %>
    <%= f.input :hidden, label: 'Скрыть пункт меню' %>
    <%= f.input :parent_id, as: :select,
                collection: Hash[Page.all.map{|page| ["#{page.name}-#{page.id}", page.id]}] %>
    <li class="input optional overflow">
      <%= f.label :layout %>
      <%= f.collection_select :layout, layouts, :to_s, :to_s %>
    </li>
  <% end %>

  <%= f.inputs "Наполнение" do %>
    <%= f.input :name, input_html: {rows: 1}, label: 'Заголовок страницы' %>
    <%= f.input :content, as: :ckeditor, label: 'Контент' %>
  <% end %>

  <%= f.inputs "SEO" do %>
    <%= f.input :slug, required: false %>
    <%= f.semantic_fields_for :seo do |j| %>
      <%= j.input :title, input_html: {rows: 1} %>
      <%= j.input :keywords, input_html: {rows: 1} %>
      <%= j.input :description, input_html: {rows: 1} %>
    <% end %>
  <% end %>

  <%= f.actions %>
<% end %>
