<%= form_for @online_courier, remote: true, validate: true do |f| %>

  <div class="request" id="request">
    <div class="request-control">
      <h2>Вызов курьера по Белгороду</h2>
      <div class="field">
        <%= f.label 'Тип перевозки', class: 'request_lable' %>
        <%= f.select :transportation, options_for_select(["наличный расчет", "экспресс-доставка"]), class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Дата исполнения заказа', class: 'request_lable' %>
        <%= f.date_select :date, as: :date_select,
                          start_day: Time.now.day , start_year: Time.now.year, end_year: Time.now.year + 10 %>
      </div>
      <div class="field">
        <%= f.label 'Временной интервал забора груза', class: 'request_lable' %>
        <%= f.text_field :time, class: 'input-block-level' %>
      </div>
      Информация об отправителе
      <div class="field">
        <%= f.label 'Контактное лицо', class: 'request_lable' %>
        <%= f.text_field :full_name, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Контактный телефон', class: 'request_lable' %>
        <%= f.text_field :phone, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Организация отправителя', class: 'request_lable' %>
        <%= f.text_field :company, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Адрес отправителя', class: 'request_lable' %>
        <%= f.text_field :address, class: 'input-block-level' %>
      </div>
      Информация о грузе и характере оплаты
      <div class="field">
        <%= f.label 'Вес(кг)', class: 'request_lable' %>
        <%= f.text_field :weight, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Количество мест', class: 'request_lable' %>
        <%= f.text_field :amount, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Габариты', class: 'request_lable' %>
        <%= f.text_field :size, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label :'Характер груза', class: 'request_lable' %>
        <%= f.text_field :cargo_type, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Город получения', class: 'request_lable' %>
        <%= f.text_field :city, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Тип оплаты', class: 'request_lable' %>
        <%= f.select :payment, options_for_select(["наличный расчет", "безналичный расчет"]), class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Кто платит', class: 'request_lable' %>
        <%= f.select :payer, options_for_select(["отправитель", "получатель", "третья сторона"]), class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label '№ плательщика', class: 'request_lable' %>
        <%= f.text_field :payer_id, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Комментарии', class: 'request_lable' %>
        <%= f.text_field :comment, class: 'input-block-level' %>
      </div>
        <%= f.submit 'Отправить', class: 'feedback-btn'%>
    </div>
  </div>
<% end %>