<%= form_for @online_courier, :url => online_couriers_path(@online_courier), validate: true do |f| %>
  <div class="request" id="request">
    <div class="request-control">
      <h2>Вызов курьера по Белгороду</h2>
      <div class="field">
        <%= f.label "Тип перевозки", class: 'request_lable' %>
        <%= f.select :transportation, OnlineCourier.transportation.options,  class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label :date, class: 'request_lable' %>
        <%= f.date_select :date, as: :date_select,
                          start_year: Time.now.year, end_year: Time.now.year + 5 %>
      </div>
      <p>Временной интервал забора груза</p>
      <div class="field">
        <%= f.text_field :time_start, class:"input-block-level" %>
      </div>
      -
      <div class="field">
        <%= f.text_field :time_end, class:"input-block-level" %>
      </div>
      <p>Информация об отправителе</p>
        <%= online_courier_text_field :full_name, f %>
        <%= online_courier_text_field :phone, f %>
        <%= online_courier_text_field :company, f %>
        <%= online_courier_text_field :address, f %>
      <p>Информация о грузе и характере оплаты</p>
        <%= online_courier_text_field :weight, f %>
        <%= online_courier_text_field :amount, f %>
        <%= online_courier_text_field :size, f %>
        <%= online_courier_text_field :cargo_type, f %>
        <%= online_courier_text_field :city, f %>
      <div class="field">
        <%= f.label 'Тип оплаты', class: 'request_lable' %>
        <%= f.select :payment, OnlineCourier.payment.options, class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Кто платит', class: 'request_lable' %>
        <%= f.select :payer, OnlineCourier.payer.options, class: 'input-block-level' %>
      </div>
        <%= online_courier_text_field :payer_number, f %>
        <%= online_courier_text_field :comment, f %>
      </div>
        <%= f.submit 'Отправить', class: 'feedback-btn'%>
    </div>
  </div>
<% end %>