<%= form_for @online_courier, :url => online_couriers_path(@online_courier), validate: true do |f| %>

  <div class="request" id="request">
    <div class="request-control">
      <h2>Вызов курьера по Белгороду</h2>
      <div class="field">
        <%= f.label "Тип перевозки", class: 'request_lable' %>
        <%= f.select :transportation, options_for_select(["наличный расчет", "экспресс-доставка"]), class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Дата исполнения заказа', class: 'request_lable' %>
        <%= f.date_select :date, as: :date_select,
            start_day: Time.now.day , start_year: Time.now.year, end_year: Time.now.year + 10 %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :time, f ) %>
      </div>
      Информация об отправителе
      <div class="field">
        <%= raw( online_courier_text_field :full_name , f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :phone, f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :company, f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :address, f ) %>
      </div>
      Информация о грузе и характере оплаты
      <div class="field">
        <%= raw( online_courier_text_field :weight, f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :amount, f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :size, f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :cargo_type, f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :city, f ) %>
      </div>
      <div class="field">
        <%= f.label 'Тип оплаты', class: 'request_lable' %>
        <%= f.select :payment, options_for_select(["наличный расчет", "безналичный расчет"]), class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= f.label 'Кто платит', class: 'request_lable' %>
        <%= f.select :payer, options_for_select(["отправитель", "получатель", "третья сторона"]), class: 'input-block-level' %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :payer_id, f ) %>
      </div>
      <div class="field">
        <%= raw( online_courier_text_field :comment, f ) %>
      </div>
        <%= f.submit 'Отправить', class: 'feedback-btn'%>
    </div>
  </div>
<% end %>