<div class="cargo_info">
  <h4>Информация о грузе</h4>
  <div class="invoice_info_container">
    Накладная Major Express:
    <span class="value"><%= @invoice.number %></span>
  </div>
  <div class="invoice_info_container">
    Особые отметки клиента:
  </div>
  <div class="invoice_info_container">
    Откуда:
    <span class="value"><%= @invoice.send_from %></span>
  </div>
  <div class="invoice_info_container">
    Куда:
    <span class="value"><%= @invoice.arrival_to %></span>
  </div>
  <% if @invoice.delivered_at %>
    <div class="invoice_info_container">
      Груз доставлен:
      <span class="value"><%= date_format_for @invoice.delivered_at %></span>
    </div>
  <% end %>
  <div class="invoice_info_container">
    Кем получен:
    <span class="value">
      <%= @invoice.recipient_surname %> (<%= @invoice.recipient_role.text %>)
    </span>
  </div>
  <div class="invoice_info_container">
    Статус:
    <span class="value"><%= @invoice.status.text %></span>
  </div>
</div>
