<div class="container">
<%= render 'pages/index/partners' %>
</div>

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 e_sign">
        <%= image_tag ("eeee.png"), class: "e_image" , alt: "" %>
      </div>
      <div class="span4 info_footer">
        <ul class="footer_ul main">
          <li class="footer_li"><a class="footer_li_link" href="">О компании</a></li>
          <li class="footer_li"> <a class="footer_li_link" href="">Услуги</a>
            <ul class="footer_ul second">
              <li class="footer_li"><a class="footer_li_link" href="">Состояние доставки</a></li>
              <li class="footer_li"><a class="footer_li_link" href="">Стоимость доставки</a></li>
              <li class="footer_li"><a class="footer_li_link" href="">Правила оказания услуг</a></li>
              <li class="footer_li"><a class="footer_li_link" href="">Запрещённый грузы</a></li>
              <li class="footer_li"><a class="footer_li_link" href="">Наши экспресс центры</a></li>
            </ul>
          </li>
          <li class="footer_li"><a class="footer_li_link" href="">Филиалы</a></li>
          <li class="footer_li"><a class="footer_li_link" href="">Отзывы</a></li>
          <li class="footer_li"><a class="footer_li_link" href="">Контакты</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="footer_contact">
          <h2 class="footer_contact_header">Контакты&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
          <p class="footer_contact_paragraph">308023, г.Белгород, ул.Железнякова, д.14Б<br />
            тел: 8(4722) 20-74-84 (многоканальный)</p>
          <p class="footer_contact_paragraph">500-684, 500-668 тел/факс: 8(4722)34-92-07<br />
            E-mail: info@bcs31.ru</p>
          <div class="footer_contact_images_container">
            <a class="footer_facebook" href="#">
              <%= image_tag ("facebook_truck.png"),class: "contact_image" , alt: "" %>
            </a>
            <a class="footer_vk" href="#">
              <%= image_tag ("vk_truck.png"), class: "contact_image" , alt: "" %>
            </a>
            <a class="footer_odniklass" href="#">
              <%= image_tag ("odnoklass_truck.png"), class: "contact_image" , alt: "" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">
        <p class="company"><%= Time.now.year %> © <%= t 'footer.text' %></p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>
