<div class="container">
<%= render 'pages/index/partners' %>
</div>

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 e_sign">
        <%= image_tag ("eeee.png"), class: "e_image" , alt: "" %>
      </div>
      <%= render "shared/footer/info" %>
      <%= render "shared/footer/contacts" %>
    </div>
  </div>
</div>
<%= render "shared/footer/copyright" %>
