<div class="logo">
  <%= link_to image_tag("logo.jpg", alt: ""), "/" %>
</div><!-- /logo -->
<div class="header_top_call_us_inside">
  <div class="header_buttons_container">
    <%= link_to( "http://www.comtube.com/button.php?hash=TrENcpxKe6OrzyacwbvgTA", alt: "",
                 class: "button_call_us reddish", target: "go_iframe") do %>
      <%= image_tag("phone-icon-black.png", class: "freecall")%>
      <span class="call_us_span">Позвонить нам бесплатно</span>
    <% end %>
    <div class="courier_button_container">
      <%= link_to(OnlineCourier, alt: "", class: "button_courier yellow") do %>
        <%= image_tag("Courier-512.png", class: "courier_call")%>
        <span class="courier_span">Вызов курьера</span>
      <% end %>
    </div>
  </div>
</div>


<div class="header_top_phone">
  <%= image_tag("phone_handle.png", alt: "", class: "phone_handle") %>
    <span class="header_top_phone_number">+7 (4722) 20-74-84</span>
    <p class="phone_uninumber">единый номер</p>
</div>
<div class="buttons_line_container">

  <%= link_to(OnlineCourier, alt: "", class: "button_one yellow") do %>
    <%#= image_tag("megaphone_handle.png", class: "megaphon_handle")%>
    <span class="courier_span inline">Вызов курьера</span>
  <% end %>

  <%= link_to( "http://www.comtube.com/button.php?hash=TrENcpxKe6OrzyacwbvgTA", alt: "",
               class: "button_two yellow", target: "go_iframe") do %>
    <%#= image_tag("megaphone_head.png", class: "megaphon_head")%>
    <span class="call_us_span_inline">Позвонить нам бесплатно</span>
  <% end %>

</div>
<div class="iframe_container_callus">
<%= link_to(image_tag("close-42928_150.png",  class: "closing_cross")) %>
<iframe src="" scrolling="no" name="go_iframe" class="callus_iframe"></iframe>
</div>