<div class="top"></div>
<div class="header">
  <div class="header_top_call_us_outside">
    <div class="header_buttons_container">
      <%= link_to( "http://www.comtube.com/button.php?hash=TrENcpxKe6OrzyacwbvgTA", alt: "",
                   class: "button_call_us reddish", target: "go_iframe") do %>
        <%= image_tag("phone-icon-black.png", class: "freecall")%>
        <span class="call_us_span">Позвонить нам бесплатно</span>
      <% end %>
      <div class="courier_button_container">
        <%= link_to(OnlineCourier, alt: "", class: "button_courier yellow") do %>
          <%= image_tag("Courier-512.png", class: "courier_call")%>
          <span class="courier_span">Вызов курьера</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header_top">
      <%= render 'shared/header_top' %>
    </div>
    <%= render 'shared/menu' %>
  </div>

</div>

