<%= render 'pages/index/header_slider' %>
<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <a class="service_link" href="<%= slug_path('price_of_delivery') %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('open_box.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Расчёт</h4>
              <h4 class="deliv_header">стоимости</h4>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="span3">
      <a class="service_link indexes" href="<%= @indexframe.url if @indexframe %>"
         target="go_indexes_iframe">
        <div class="service clearfix">
          <div class="service_icon postmark"><%= image_tag('postmark.png') %></div>
          <div class="desc">
            <div class="desc_header indexes">
                <h4 class="postal_link indexes"><span>Почтовые</span></h4>
                <h4 class="postal_link deliv_header"><span>индексы</span></h4>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="span3">
      <a class="service_link" href="<%= slug_path('documents') %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('archive.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Основные</h4>
              <h4 class="under_link deliv_header">документы</h4>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="span3">
      <a class="service_link tracking" href="http://www.major-express.ru/trace.aspx" target="go_tracking_iframe">
        <div class="service clearfix">
          <div class="service_icon zoomer"><%= image_tag('zoom.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Состояние</h4>
              <h4 class="deliv_header">доставки</h4>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="welcome_message_background row-fluid">
    <div class="container">
      <div class="welcome_message">
        <%= raw @page.content %>
      </div>
    </div>
  </div>
  <%= render 'news_pages/list' %>
</div>
    <% if @indexframe %>
    <div class="indexes_wrapper container" style="height:<%= @indexframe.height %>; width:<%= @indexframe.width %>; margin-top:<%= @indexframe.top %>; display:none;">
      <div class="indexes_iframe_container" style="height:<%= @indexframe.height %>; width:<%= @indexframe.width %>" >
        <%= link_to(image_tag("close-42928_150.png",  class: "closing_cross indexes")) %>
        <iframe src="" name="go_indexes_iframe" id="indexes_iframe" style="overflow: scroll; height:<%= @indexframe.height %>; width:<%= @indexframe.width %>;"></iframe>
      </div>
    </div>
    <% end %>
    <div class="tracking_wrapper container" style="margin-top:<%= @indexframe.top %>;">
      <div class="tracking_iframe_container">
        <%= link_to(image_tag("cross.png",  class: "closing_cross-t tracking")) %>
        <iframe src="" name="go_tracking_iframe" id="tracking_iframe"></iframe>
      </div>
    </div>
<!--style="position: absolute;-->
<!--clip: rect(0px, 1000px, 850px, 0px);">-->