<%= render 'pages/index/header_slider' %>
<div class="welcome_message_background row-fluid">
  <div class="container">
    <div class="welcome_message">
      <h3 class="welcome_message_header">Мэйджор Экспресс Белгород</h3>
      <%= raw @page.content %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <a class="service_link" href="<%= slug_path('price_of_delivery') %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('open_box.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Стоимость доставки</h4>
            </div>
            <p class="desc_content">Уважаемые Клиенты, теперь вы можете существенно
              сократить время, затрачиваемое на оформление
              отправок в экспресс центрах.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="<%= slug_path('documents') %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('archive.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Документы</h4>
            </div>
            <p class="desc_content">Уважаемые Клиенты, теперь вы можете существенно
              сократить время, затрачиваемое на оформление
              отправок в экспресс центрах.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="<%= slug_path('invoices') %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('zoom.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Состояние доставки</h4>
            </div>
            <p class="desc_content">Уважаемые Клиенты, теперь вы можете существенно
              сократить время, затрачиваемое на оформление
              отправок в экспресс центрах.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <%= render 'news_pages/list' %>
</div>
