<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <% if @parent && @parent.slug == 'services' %>
        <div class="headline">
          <h3>
            <% if @page.children.empty? %>
              <%= @page.parent.name %>
            <% else %>
              <%= @page.name %>
            <% end %>
          </h3>
        </div>
        <div class="services_padding_div"></div>
        <div class="services_headers">
          <% if @page.children.any? %>
            <% @page.children.each do |child| %>
              <li class="services">
                <%= link_to content_tag(:span, child.name), slug_path(child),
                :class => (menu_item_state(child).to_s + 'hover-effect') %>
              </li>
            <% end %>
          <% else %>
            <% @page.parent.children.each do |child| %>
              <li class="services">
                <% if child != @page %>
                  <%= link_to content_tag(:span, child.name), slug_path(child),
                  :class => (menu_item_state(child).to_s + 'hover-effect') %>
                <% else %>
                  <span class="text_under"> <%= child.name %> </span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </div>

        <div class="services_content">
          <%= raw @page.content %>
        </div>

      <% elsif @page.slug == 'services' %>
        <div class="headline">
          <h3> <%= raw @page.name %></h3>
        </div>
        <div class="services_padding_div"></div>
        <div class="services_headers">
          <% @page.children.each do |child| %>
            <li class="services">
              <%= link_to content_tag(:span, child.name), slug_path(child),
              :class => (menu_item_state(child).to_s + 'hover-effect') %>
            </li>
          <% end %>
        </div>
        <div class="intro_services_content row-fluid content content_text">
          <%= raw @page.content %>
          aaaaaaaaa`
        </div>
      <% else %>
        <div class="headline">
          <h3> <%= raw @page.name %></h3>
        </div>
        <div class="row-fluid content content_text">
          <%= raw @page.content %>
        </div>
      <% end %>
    </div>
  </div>
</div>

