<% @workers.each do |worker| %>
  <ul class="worker">
    <% if worker.photo.thumb.url %>
      <li class="worker_attribute_photo">
        <%= image_tag worker.photo.thumb.url, class: "worker_photo" %>
      </li>
    <% end %>
    <div class="worker_info">
      <li class="worker_attribute_first_name">
        <%= worker.last_name %>
      </li>
      <li class="worker_attribute_last_name">
        <%= worker.first_name %>
      </li>
      <li class="worker_attribute_patronymic">
        <%= worker.patronymic %>
      </li>
      <li class="worker_attribute_job">
        <%= worker.job %>
      </li>
      <li class="worker_attribute_phone">
        <%= worker.phone %>
      </li>
    </div>
    <div class="clear_workers"></div>
  </ul>
<% end %>