<ul>
  <% @workers.each do |worker| %>
    <li>
      <%= image_tag worker.photo.thumb.url %>
    </li>
    <li>
      <%= worker.last_name %>
    </li>
    <li>
      <%= worker.first_name %>
    </li>
    <li>
      <%= worker.patronymic %>
    </li>
    <li>
      <%= worker.job %>
    </li>
    <li>
      <%= worker.phone %>
    </li>
  <% end %>
</ul>