<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
        <h3>Книга отзывов и предложений</h3>
        <%= link_to 'Оставить отзыв', '#', id: 'show_new_review_form', class: 'button comment orange' %>
      </div>
      <div class="content_text">
        <%= raw @page.content %>
      </div>
      <%= show_flash %>
      <div id="new_review_form_wrapper">
        <%= render 'form' %>
      </div>
      <%= render 'list' %>
    </div>
  </div>
</div>
