<html>
  <body>
    <div>
      Тип перевозки: <%= @online_request.transportation %>
    </div>
    <div>
      Дата исполнения заказа: <%= @online_request.date.strftime('%d.%m.%Y') %>
    </div>
    <div>
      Временной интервал забора груза: <%= @online_request.time %>
    </div>
    <div>
      Контактное лицр: <%= @online_request.full_name %>
    </div>
    <div>
      Контактный телефон: <%= @online_request.phone %>
    </div>
    <div>
      Организация отправителя: <%= @online_request.company %>
    </div>
    <div>
      Вес(кг): <%= @online_request.weight %>
    </div>
    <div>
      Количество мест: <%= @online_request.amount %>
    </div>
    <div>
      Габариты: <%= @online_request.size %>
    </div>
    <div>
      Характер груза: <%= @online_request.cargo_type %>
    </div>
    <div>
      Город получения: <%= @online_request.city %>
    </div>
    <div>
      Тип оплаты: <%= @online_request.payment %>
    </div>
    <div>
      Кто платит: <%= @online_request.payer %>
    </div>
    <div>
      № плательщика: <%= @online_request.payer_id %>
    </div>
    <div>
      Комментарии: <%= @online_request.comment %>
    </div>
  </body>
</html>